<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mine sager</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <app-case-secure-icon></app-case-secure-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div padding class="spinner-center" *ngIf="!cases">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-grid *ngIf="cases">
    <ion-row *ngIf="isWeb()" class="ion-justify-content-center" >
      <ion-fab-button color="tertiary" [routerLink]="['create']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-row>

    <ion-row class="ion-justify-content-center" style="margin-top: 15px;">
      <ion-spinner name="crescent" *ngIf="dataLoading"></ion-spinner>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let case of cases.value; trackBy:trackItems" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4">
        <app-case-list-item [case]="case" [tabType]="'user'"></app-case-list-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="!isWeb()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" [routerLink]="['create']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Henter flere sager...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>